.Header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 0;
}
.Header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 2rem;
}
.Header ul li {
  cursor: pointer;
}
.Header .Header__profile, .Header__links {
  align-items: center;
}
.Header__profile .icon__cart {
  width: 20px;
  height: 20px;

}
.Header__profile .icon__profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}